@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
  /* font heading */
  --font-heading: 'Montserrat', sans-serif;
  /* h1 */
  --h1-size: 48px;
  --h1-weight: 600;
  --h1-leading: 100%;
  --h1-tracking: -0.5px;
  /* h2 */
  --h2-size: 30px;
  --h2-weight: 600;
  --h2-leading: 100%;
  --h2-tracking: -0.3px;
  /* h3 */
  --h3-size: 24px;
  --h3-weight: 600;
  --h3-leading: 120%;
  --h3-tracking: -0.5px;
  /* h4 */
  --h4-size: 20px;
  --h4-weight: 600;
  --h4-leading: 120%;
  --h4-tracking: -0.4px;
  /* font paragraph */
  --font-paragraph: 'Cabin', sans-serif;
  /* paragraph-n-regular */
  --paragraph-n-regular-size: 16px;
  --paragraph-n-regular-weight: 400;
  --paragraph-n-regular-leading: 150%;
  --paragraph-n-regular-tracking: 0px;
  /* paragraph-n-medium */
  --paragraph-n-medium-size: 16px;
  --paragraph-n-medium-weight: 500;
  --paragraph-n-medium-leading: 150%;
  --paragraph-n-medium-tracking: 0px;
  /* paragraph-s-regular */
  --paragraph-s-regular-size: 14px;
  --paragraph-s-regular-weight: 400;
  --paragraph-s-regular-leading: 150%;
  --paragraph-s-regular-tracking: 0.1px;
  /* paragraph-s-medium */
  --paragraph-s-medium-size: 14px;
  --paragraph-s-medium-weight: 500;
  --paragraph-s-medium-leading: 150%;
  --paragraph-s-medium-tracking: 0.1px;
  /* paragraph-xs-regular */
  --paragraph-xs-regular-size: 12px;
  --paragraph-xs-regular-weight: 400;
  --paragraph-xs-regular-leading: 150%;
  --paragraph-xs-regular-tracking: 0.2px;
  /* paragraph-xs-medium */
  --paragraph-xs-medium-size: 12px;
  --paragraph-xs-medium-weight: 500;
  --paragraph-xs-medium-leading: 150%;
  --paragraph-xs-medium-tracking: 0.2px;
  /* border radius */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  /* colors */
  --white: var(--white);
  --gray: var(--gray);
  --black: var(--black);
  --color-background: var(--background);
  --color-background-alt: var(--background-alt);
  --color-background-alt-2: var(--background-alt-2);
  
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  /* primary colors */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-alt: var(--primary-alt);
  --color-primary-alt-foreground: var(--primary-alt-foreground);
  /* secondary colors */
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-alt: var(--secondary-alt);
  --color-secondary-alt-foreground: var(--secondary-alt-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-success: var(--success);
  --color-warning: var(--warning);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  /* sidebar colors */
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
}

:root { 
  --white: oklch(0.9851 0 0)
  --gray: oklch(0.7155 0 0)
  --black: oklch(0.1448 0 0)
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --background-alt: oklch(0.3566 0.0454 257.42);
  --background-alt-2: oklch(0.5223 0.0703 256.77);
  --foreground: oklch(0.1448 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1448 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1448 0 0);
  --primary: oklch(0.3566 0.0454 257.42);
  --primary-foreground: oklch(0.985 0 0);
  --primary-alt: oklch(0.5223 0.0703 256.77);
  --primary-alt-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.8878 0.1826 96.12);
  --secondary-foreground: oklch(0.1448 0 0);
  --secondary-alt: oklch(0.6939 0.1426 96.07);
  --secondary-alt-foreground: oklch(0.985 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.5603 0.2128 27.66);
  --success: oklch(0.5273 0.1371 150.07);
  --warning: oklch(0.7049 0.1867 47.6);
  --border: oklch(0.9219 0 0);
  --input: oklch(1 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar-primary: oklch(0.5223 0.0703 256.77);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.9702 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
}

@layer base {
  * {
    margin: 0;
    padding: 0;
  }

  h1{
    font-family: var(--font-heading);
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    line-height: var(--h1-leading);
    letter-spacing: var(--h1-tracking);
  }

  h2{
    font-family: var(--font-heading);
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
    line-height: var(--h2-leading);
    letter-spacing: var(--h2-tracking);
  }

  h3{
    font-family: var(--font-heading);
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
    line-height: var(--h3-leading);
    letter-spacing: var(--h3-tracking);
  }

  h4{
    font-family: var(--font-heading);
    font-size: var(--h4-size);
    font-weight: var(--h4-weight);
    line-height: var(--h4-leading);
    letter-spacing: var(--h4-tracking);
  }

  .pg1{
    font-family: var(--font-paragraph);
    font-size: var(--paragraph-n-regular-size);
    font-weight: var(--paragraph-n-regular-weight);
    line-height: var(--paragraph-n-regular-leading);
    letter-spacing: var(--paragraph-n-regular-tracking);
  }

  .pg1-bold{
    font-family: var(--font-paragraph);
    font-size: var(--paragraph-n-medium-size);
    font-weight: var(--paragraph-n-medium-weight);
    line-height: var(--paragraph-n-medium-leading);
    letter-spacing: var(--paragraph-n-medium-tracking);

  }

  .pg2{
    font-family: var(--font-paragraph);
    font-size: var(--paragraph-s-regular-size);
    font-weight: var(--paragraph-s-regular-weight);
    line-height: var(--paragraph-s-regular-leading);
    letter-spacing: var(--paragraph-s-regular-tracking);
  }

  .pg2-bold{
    font-family: var(--font-paragraph);
    font-size: var(--paragraph-s-medium-size);
    font-weight: var(--paragraph-s-medium-weight);
    line-height: var(--paragraph-s-medium-leading);
    letter-spacing: var(--paragraph-s-medium-tracking);
  }

  .pg3{
    font-family: var(--font-paragraph);
    font-size: var(--paragraph-xs-regular-size);
    font-weight: var(--paragraph-xs-regular-weight);
    line-height: var(--paragraph-xs-regular-leading);
    letter-spacing: var(--paragraph-xs-regular-tracking);
  }

  .pg3-bold{
    font-family: var(--font-paragraph);
    font-size: var(--paragraph-xs-medium-size);
    font-weight: var(--paragraph-xs-medium-weight);
    line-height: var(--paragraph-xs-medium-leading);
    letter-spacing: var(--paragraph-xs-medium-tracking);
  }

  /* Media Queries */
  @media (min-width: 0px) {
    .hero-padding-responsive {
      display: flex;
      position: relative;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      z-index: 10;
      gap: 40px;
      padding: 0px 24px 0px 24px;
      height: 90vh;
    }
    .heading-hero-responsive {
      font-family: var(--font-heading);
      font-weight: var(--h4-weight);
      line-height: var(--h4-leading);
      letter-spacing: var(--h4-tracking);
      font-size: var(--h4-size);
    }
    .paragraph-responsive {
      font-family: var(--font-paragraph);
      font-size: var(--paragraph-n-regular-size);
      font-weight: var(--paragraph-n-regular-weight);
      line-height: var(--paragraph-n-regular-leading);
      letter-spacing: var(--paragraph-n-regular-tracking);
      margin: 0;
    }
    .hero-bg-element-base {
      display: block;
      pointer-events: none;
      z-index: 1;
    }
    .hero-bg-element-bottom-right {
      transform-origin: bottom right;
      width: 200px;
      height: 200px;
      right: -50px;
      bottom: -50px;
      display: none;
    }
    .hero-bg-element-bottom-left {
      transform-origin: bottom left;
      width: 180px;
      height: 200px;
      left: -40px;
      bottom: -60px;
      display: none;
    }
    .features-content-responsive {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;
    }
    .features-main-responsive {
      display: flex;
      position: relative;
      justify-content: center;
      flex-direction: column;
      z-index: 10;
      gap: 32px;
      padding: 32px 16px 32px 16px;
    }
    .features-paragraph-responsive {
      font-family: var(--font-paragraph);
      font-size: var(--paragraph-xs-regular-size);
      font-weight: var(--paragraph-xs-regular-weight);
      line-height: var(--paragraph-xs-regular-leading);
      letter-spacing: var(--paragraph-xs-regular-tracking);
      margin: 0;
      min-width: auto;
      height: auto;
    }
    .features-card-responsive {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      max-width: 300px;
      min-height: 200px;
    }
    .features-heading-responsive {
      font-family: var(--font-heading);
      font-size: var(--h2-size);
      font-weight: var(--h2-weight);
      line-height: var(--h2-leading);
      letter-spacing: var(--h2-tracking);
      text-align: center;
    }
    .footer-border{
      padding: 16px 24px 16px 24px;
    }
    .footer-logo-responsive{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .footer-padding-responsive{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        padding: 20px 48px 20px 48px;
    }
      .footer-contact-responsive{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        text-align: center;
    }
  }

  @media (min-width: 320px) {
    .hero-bg-element-base {
      display: none;
    }
    .features-content-responsive {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 36px;
    }
    .features-main-responsive {
      display: flex;
      position: relative;
      justify-content: center;
      flex-direction: column;
      z-index: 10;
      gap: 32px;
      padding: 72px 28px 72px 28px;
    }
    .features-heading-responsive {
      font-family: var(--font-heading);
      font-size: var(--h2-size);
      font-weight: var(--h2-weight);
      line-height: var(--h2-leading);
      letter-spacing: var(--h2-tracking);
      text-align: center;
    }
  }

  @media (min-width: 768px) {
    .hero-padding-responsive {
      display: flex;
      position: relative;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      z-index: 10;
      gap: 28px;
      padding: 0 56px 0 56px;
      height: 90vh;
    }
    .heading-hero-responsive {
      font-family: var(--font-heading);
      font-weight: var(--h3-weight);
      line-height: var(--h3-leading);
      letter-spacing: var(--h3-tracking);
      font-size: var(--h3-size);
    }
    .hero-bg-element-base {
      display: block;
    }
    .hero-bg-element-bottom-right {
      width: 360px;
      height: 360px;
      right: -112px;
      bottom: -180px;
    }
    .hero-bg-element-bottom-left {
      width: 280px;
      height: 360px;
      left: -96px;
      bottom: -188px;
    }
    .features-content-responsive {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 36px;
    }
    .features-main-responsive {
      display: flex;
      position: relative;
      justify-content: center;
      flex-direction: column;
      z-index: 10;
      gap: 48px;
      padding: 92px 76px 92px 76px;
    }
    .features-heading-responsive {
      font-family: var(--font-heading);
      font-size: var(--h1-size);
      font-weight: var(--h1-weight);
      line-height: var(--h1-leading);
      letter-spacing: var(--h1-tracking);
      text-align: center;
    }
    .features-paragraph-responsive {
      font-family: var(--font-paragraph);
      font-size: var(--paragraph-n-regular-size);
      font-weight: var(--paragraph-n-regular-weight);
      line-height: var(--paragraph-n-regular-leading);
      letter-spacing: var(--paragraph-n-regular-tracking);
      margin: 0;
      width: 280px;
      height: auto;
    }
  }

  @media (min-width: 1024px) {
    .hero-padding-responsive {
      display: flex;
      position: relative;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      z-index: 10;
      gap: 28px;
      padding: 0 96px 0 96px;
      height: 90vh;
    }
    .heading-hero-responsive {
      font-family: var(--font-heading);
      font-weight: var(--h2-weight);
      line-height: var(--h2-leading);
      letter-spacing: var(--h2-tracking);
      font-size: var(--h2-size);
    }
    .hero-bg-element-bottom-right {
      width: 360px;
      height: 360px;
      right: -112px;
      bottom: -108px;
    }
    .hero-bg-element-bottom-left {
      width: 280px;
      height: 360px;
      left: -88px;
      bottom: -116px;
    }
    .features-content-responsive {
      display: flex;
      justify-content: center;
      gap: 36px;
    }
    .features-main-responsive {
      display: flex;
      position: relative;
      justify-content: center;
      flex-direction: column;
      z-index: 10;
      gap: 48px;
      padding: 92px 76px 92px 76px;
    }
    .features-heading-responsive {
      font-family: var(--font-heading);
      font-size: var(--h1-size);
      font-weight: var(--h1-weight);
      line-height: var(--h1-leading);
      letter-spacing: var(--h1-tracking);
      text-align: center; 
    }
    .features-paragraph-responsive {
      font-family: var(--font-paragraph);
      font-size: var(--paragraph-n-regular-size);
      font-weight: var(--paragraph-n-regular-weight);
      line-height: var(--paragraph-n-regular-leading);
      letter-spacing: var(--paragraph-n-regular-tracking);
      margin: 0;
      min-width: auto;
      height: auto;
    }
    .footer-border{
      padding: 16px 24px 16px 24px;
    }
    .footer-logo-responsive{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: flex-start;
        gap: 0px;
    }
    .footer-padding-responsive{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: 32px;
        padding: 20px 48px 20px 48px;
    }
    .footer-contact-responsive{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        gap: 12px;
        text-align: right;
    }
  }

  @media (min-width: 1440px) {
    .hero-bg-element-bottom-right {
      width: 400px;
      height: 400px;
      right: -80px;
      bottom: -100px;
    }
    .hero-bg-element-bottom-left {
      width: 320px;
      height: 400px;
      left: -52px;
      bottom: -112px;
    }
    .features-content-responsive {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      gap: 36px;
    }
    .features-main-responsive {
      display: flex;
      position: relative;
      justify-content: center;
      flex-direction: row;
      z-index: 10;
      gap: 100px;
      padding: 92px 76px 92px 76px;
    }
    .features-heading-responsive {
      font-family: var(--font-heading);
      font-size: var(--h1-size);
      font-weight: var(--h1-weight);
      line-height: var(--h1-leading);
      letter-spacing: var(--h1-tracking);
      text-align: left;
    }
    .features-paragraph-responsive {
      font-family: var(--font-paragraph);
      font-size: var(--paragraph-n-regular-size);
      font-weight: var(--paragraph-n-regular-weight);
      line-height: var(--paragraph-n-regular-leading);
      letter-spacing: var(--paragraph-n-regular-tracking);
      margin: 0;
      min-width: auto;
      height: auto;
    }
  }
}
